@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

#centratura {
    width: 70%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 5px;
}

/* intestazione */
header {
    padding: 20px 0;
}

#container_link {
    margin-top: 40px;
}

#logo {
    height: 60px;
    border-right: solid 1px #e0e0e0;
    padding-right: 20px;
}

a {
    color: rgb(170, 170, 170);
    text-decoration: none;
    font-size: 18px;
    padding: 0 15px 0 0;
}

a:hover {
    color: black;
    text-decoration: underline;
}

/* Prima parte */
.container {
    position: relative;
    margin: 20px 0 30px 0;
}

.container img {
    width: 100%;
    height: 560px;
    object-fit: cover;
    border-radius: 10px;
}

.text span {
    font-size: 34px;
}

.text {
    width: 51%;
    position: absolute;
    bottom: 13%;
    left: 4%;
    color: white;
    font-size: 19px;
}

.color_img_principale::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 560px;
    background: #000000;
    opacity: 0.23;
    border: solid 1px #e0e0e0;
    border-radius: 10px; 
}

/* Seconda parte */

.container_2 p {
    color: rgb(172, 172, 172);
}

.color_img_secondarie {
    position: relative;
}

.color_img_secondarie::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 235px;
    background: #000000;
    opacity: 0.18;
    border-radius: 10px;
}

.container_2 h1 {
    font-size: 38px;
}

.container_2 .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.riquadro_laterale span, .riquadro_centrale span {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
}

.riquadro_sopra {
    margin-bottom: 40px;
}

.riquadro_laterale {
    float: left;
    width: 19%;
}

.container_2 img {
    width: 100%;
    height: 235px;
    object-fit: cover;
}

.riquadro_centrale {
    float: left;
    width: 58%;
    margin: 0 2% 20px;
}

/* footer */
footer {
    margin: 15px 0;
    text-align: center;
    font-size: 18px;
}

#heart {
    color: red;
}